*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(239, 245, 245);
}
.dev{
    width: 350px;
    margin: auto;
    padding-top: 10px;
    margin-top: 30px;
    padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.counter{
    padding-bottom: 50px;
    text-align: center;

}
.counter h1{
    color: rgb(15, 60, 108);
    text-align: center;
    padding: 50px 0px 20px 0px;
}
.display{
    background-color: white;
    /* border: 5px solid rgb(0, 134, 116); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-weight: bold;
    font-size: xx-large;
    width: 250px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    color: rgb(15, 60, 108);
}
.btn{
    background-color: rgb(15, 60, 108);
    color: white;
    font-weight: bolder;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 22px;
    margin-top: 30px;
}
.btn:hover{
    background-color: rgb(0, 134, 116);
}

@media only screen and (max-width: 456px){
    .dev{
        width: 100%;
    }
}